<div class="navbar-hero">
  <nav>
    {{ if isset .Site.Taxonomies "categories" }}
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <a href="{{ "/" | relLangURL }}{{ $name | urlize }}">{{ $name | upper }}</a>
      {{end}}
    {{end}}
  </nav>
</div>
