<style type="text/css">
  .masthead-hero {
    {{ if isset .Params "hero_image" }}
      {{ $url := resources.Get (printf "img/%s" .Params.hero_image) }}
      background-image: url("{{ $url.Permalink }}");
      background-position: center top;
    {{ else }}
      {{ $url := resources.Get (printf "img/%s" .Site.Params.hero_image) }}
      background-image: url("{{ $url.Permalink }}");
    {{ end }}
  }
</style>

<div class="masthead-hero"></div>
