{{ $is_list := .is_list }}
{{ $ := .content }}
<div class="post-metadata">

  {{ if isset $.Params "categories" }}
  {{ $categoriesLen := len $.Params.categories }}
  {{ if gt $categoriesLen 0 }}
  <span class="post-categories">
    {{ $icon := resources.Get "img/svg/folder-open.svg" }}
    {{ $icon = $icon | resources.Minify }}
    <img src={{ $icon.Permalink }} />
    {{ range $k, $v := $.Params.categories }}
      {{ $catPage := (printf "categories/%s" .) }}
      <a href="{{ ($.Site.GetPage $catPage).Permalink }}">{{ . }}</a>
      {{ if lt $k (sub $categoriesLen 1) }}, {{ end }}
    {{ end }}
  </span><br/>
  {{ end }}
  {{ end }}

  <span class="post-date">
    {{ if ne $.Params.Lastmod $.Params.Date }}
      {{ i18n "last_updated" }}
    {{ end }}
    <time datetime="{{ $.Date }}" itemprop="datePublished dateModified">
      {{ $.Lastmod.Format $.Site.Params.date_format }}
    </time>
  </span>

</div>
