<div class="recent-post-container">
  {{ $recent := (.Pages.ByDate).Reverse | first 3 }} {{ range $recent }}
  <div class="recent-post">
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    {{ partial "post_metadata" (dict "content" . "is_list" 0) }}
    <p>{{ .Description }}</p>
  </div>
  {{ end }}
</div>
