<div class="sidebar sticky" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <div class="author-avatar">
    {{ if isset .Params "avatar" }}
      {{ $url := resources.Get (printf "img/%s" .Params.avatar) }}
      <a href="{{ "/" | relURL }}">
        <img src="{{ $url.Permalink }}" alt="{{ .Site.Params.name }}" itemprop="image">
      </a>
    {{ else }}
      {{ $url := resources.Get (printf "img/%s" .Site.Params.avatar) }}
      <a href="{{ "/" | relURL }}">
        <img src="{{ $url.Permalink }}" alt="{{ .Site.Params.name }}" itemprop="image">
      </a>
    {{ end }}
  </div>
  <div class="author-content">
    <h3 class="author-name" itemprop="name">{{ $.Site.Title }}</h3>
    <p class="author-bio" itemprop="description">{{ $.Site.Params.bio }}</p>
  </div>
  <div class="author-urls-wrapper">
    <ul class="author-urls social-icons" aria-hidden="true">
      <!-- <li> -->
      <!--   <span itemprop="name">{{ .Site.Params.location }}</span> -->
      <!-- </li> -->
      <li>
        {{ range .Site.Params.social }}
          {{ $icon := resources.Get ( printf "img/svg/%s.svg" .icon ) }}
          {{ $icon = $icon | resources.Minify }}
          <a itemprop="sameAs" href="{{ .link | safeURL }}" target="_blank" rel="noopener"><img src="{{ $icon.Permalink }}" /></a>
        {{ end }}
      </li>
    </ul>
  </div>
</div>
