{{ partial "header.html" . }} {{ partial "masthead_hero.html" . }}

<div id="main" role="main">
  {{ partial "sidebar.html" . }}
  <article class="page">
    <div class="page_container">
      <section class="page_content">
        {{ partial "masthead_nav.html" . }} {{ partial "recent_posts.html" . }}
      </section>
    </div>
  </article>
</div>

{{ partial "footer_container.html" . }} {{ partial "footer.html" . }}
