<!DOCTYPE html>
<head>
  {{ $options := (dict "targetPath" "resume.min.css" "outputStyle" "compressed") }}
  {{ $style := resources.Get "sass/resume.scss" | resources.ToCSS $options | resources.Fingerprint }}
  {{ $font := resources.Get "fonts/InputSerifCondensed Nerd Font Complete.ttf" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <style type="text/css">
    @font-face {
        font-family: "InputSerifCondensed Nerd Font";
        src:
             url("{{ $font.Permalink }}");
    }

    div {
        font-family: "InputSerifCondensed Nerd Font", serif;
    }
  </style>
</head>
<body>
  <div class="resume-wrapper">
    <div class="resume-basic">
      <h1>{{ .Site.Data.resume.basic.name }}</h1>
      <p>
        﫷{{ .Site.Data.resume.basic.address }}<br/>
         {{ .Site.Data.resume.basic.phone }}<br/>
        <a href="mailto:{{ .Site.Data.resume.basic.email }}">﫮 {{ .Site.Data.resume.basic.email }}</a><br/>
        <a href="{{ "/" | relURL }}">爵 blog.ndarwincorn.me</a><br/>
        <a href="{{ "/" | relURL }}">爵 sr.ht/~ndarwincorn</a><br/>
        <a href="{{ .Site.Data.resume.basic.github_href }}">  GitHub</a>
        <a href="{{ .Site.Data.resume.basic.linkedin_href }}"> LinkedIn</a>
      </p>
    </div>
    <div class="resume-summary">
      <h2>{{ .Site.Data.resume.basic.title }}</h2>
      <p>
        {{ .Site.Data.resume.summary }}<br/><br/>
        Up-to-date resume available at <a href="{{ "/resume/resume/" | relURL }}">blog.ndarwincorn.me/resume/resume</a>.
      </p>
    </div>
    <div class="resume-skills">
      <h2 class="resume-subsection-header">COMPETENCIES</h2>
      {{ range .Site.Data.resume.skills }}
        <div class="resume-skills-level">
          <div class="resume-skills-level-container">
            <h3>{{ .level }}</h3>
            <h5>{{ .level_description }}</h5>
            {{ range .categories }}
              <ul class="resume-skills-level-category">
                <!-- <li>{{ .category }}: <ul>{{ range .values }}<li>{{ . }}</li>{{ end }}</ul></li> -->
                <li><b>{{ .category }}:</b> {{ range .values }}| {{ . }} |{{ end }}</li>
              </ul>
              <!-- <table class="resume-skills-level-category"> -->
              <!--   <thead> -->
              <!--     <tr> -->
              <!--       <th>{{ .category }}</th> -->
              <!--     <tr> -->
              <!--   </thead> -->
              <!--   <tbody> -->
              <!--     {{ range .values }} -->
              <!--       <tr> -->
              <!--         <td>{{ . }}</td> -->
              <!--       </tr> -->
              <!--     {{ end }} -->
              <!--   </tbody> -->
              <!-- </table> -->
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="resume-experience">
      <h2 class="resume-subsection-header">PROFESSIONAL EXPERIENCE</h2>
      <div class="resume-experience-employer-container">
        {{ range .Site.Data.resume.experience }}
          <div class="resume-experience-employer">
            <div class="resume-subsubsection-header">
              <h3>{{ .title }}</h3>
              <h3>{{ .employer }}</h3>
            </div>
            <h4>{{ dateFormat "2006/01" .start_date }} - {{ if eq .end_date "Present" }} Present {{ else }}{{ dateFormat "2006/01" .end_date }}{{ end }}</h4>
            <h5>{{ .summary }}</h5>
            <ul>
              {{ range .bullets }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    </div>
    <div class="resume-education">
      <h2 class="resume-subsection-header">EDUCATION</h2>
      <div class="resume-education-school-container">
        {{ range .Site.Data.resume.education }}
          <div class="resume-education-school">
            <div class="resume-subsubsection-header">
              <h3>{{ .study_area }}</h3>
            </div>
            <h3>{{ .school }}</h3>
            <h4>{{ dateFormat "2006/01" .start_date }} - {{ if (eq .end_date "") }}{{ .end_date }}{{ else if (eq .end_date "Incomplete") }}{{ .end_date }}{{ else }}{{ dateFormat "2006/01" .end_date }}{{ end }}</h4>
            <h5>{{ .gpa }} GPA</h5>
            <ul class="resume-education-extracurriculars">
              {{ range .extracurriculars }}
              <li>{{ .activity }}: {{ .years }} year{{ if (gt .years 1) }}s{{ end }}</li>
              {{ end }}
            </ul>
            <ul class="resume-education-awards">
              {{ range .bullets }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    </div>
    <div class="resume-probono">
      <h2 class="resume-subsection-header">PRO BONO EXPERIENCE</h2>
      {{ range .Site.Data.resume.probono }}
        <div class="resume-probono-org">
          <div class="resume-subsubsection-header">
            <h3>{{ .title }}</h3>
            <h3>{{ .organization }}</h3>
          </div>
          <h4>{{ dateFormat "2006/01" .start_date }} - {{ if eq .end_date "Present" }} Present {{ else }}{{ dateFormat "2006/01" .end_date }}{{ end }}</h4>
          <ul>
            {{ range .bullets }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
</body>
