@import "_mixins.scss";

body {
    margin: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 16px;
    text-align: center;
    border-style: solid;
    border-left: unset;
    border-right: unset;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 11px;
}

h5 {
    font-size: 10px;
}

ul {
    padding-left: 20px;
    margin: 0;
    font-size: 9px;
    li {
        margin: 5px 0 0 0;
        list-style-type: "\f633";
        line-height: 1.5;
    }
}

p {
    font-size: 9.5px;
}

.resume-wrapper {
    display: grid;
    grid-auto-columns: 132.333333px;
    grid-auto-rows: 46.791667px;
}

.resume-subsection-header {
    margin: 5px 0 5px 0;
    width: 100%;
}

.resume-subsubsection-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    h3 {
        margin: 10px 0 0 0;
    }
    border-bottom: 2px solid black;
}

.resume-basic {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        margin: 2px 0 2px 0;
    }
    h5 {
        margin: 2px 0 2px 0;
    }
    p {
        margin: 2px 0 2px 0;
    }
    padding: 10px;
    a {
        text-decoration: none;
    }
}

.resume-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 7;
    grid-row: 1 / 3;
    padding: 10px;
    h2 {
        margin: 2px 0 2px 0;
        border: unset;
    }
    p {
        margin: 2px 0 2px 0;
    }
}

.resume-skills {
    grid-column: 1 / 3;
    grid-row: 3 / 17;
    border-right: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    h3 {
        margin: 5px 0 0 0;
        border-bottom: 2px solid black;
    }
    h5 {
        margin: 0 0 2px 0;
    }
    .resume-skills-level {
        flex: auto;
        .resume-skills-level-category {
            padding: 0;
            li {
                list-style-type: "\fcb5";
                list-style-position: inside;
                line-height: 1.25;
            }
            // border: 1px solid black;
            // thead {
            //     font-style: bold;
            //     font-size: 10px;
            // }
            // td {
            //     border: 1px solid black;
            //     font-size: 9px;
            // }
        }
    }
}

.resume-experience {
    grid-column: 3 / 7;
    grid-row: 3 / 17;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .resume-experience-employer-container {
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
    }
    .resume-experience-employer {
    }
    padding: 10px;
    h4 {
        margin: 0;
    }
    h5 {
        margin: 5px 0 5px 0;
    }
    li {
        margin: 2px 0 0 0;
    }
}

.resume-education {
    grid-column: 1 / 3;
    grid-row: 17 / 22;
    padding: 10px;
    h3 {
        margin: 0;
    }
    h4, h5 {
        margin: 5px 0 5px 0;
    }
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .resume-education-school-container {
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
    }
    .resume-education-extracurriculars {
        li {
            list-style-type: "\f973";
        }
    }
    .resume-education-awards {
        li {
            list-style-type: "\fa38";
            line-height: 1.25;
        }
    }
}

.resume-probono {
    grid-column: 3 / 7;
    grid-row: 17 / 22;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .resume-probono-org {
        width: 100%;
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
    }
    h4 {
        margin: 0;
    }
    li {
        margin: 2px 0 0 0;
    }
}
